<h1>Static#frame_perm</h1>
<%= turbo_frame_tag :modal do  %>
  <div><%= Time.current %> outside permanent: I SHOULD CHANGE</div>
  <div id="i-am-unique" data-turbo-permanent>
    <div><%= Time.current %> inside permanent: I SHOULD NOT CHANGE</div>
    <p>Find me in app/views/static/frame_perm.html.erb</p>
  </div>
<% end %>
