<h1>Static#frame_perm</h1>
<%= turbo_frame_tag :modal, refresh: :morph do  %>
  <div><%= Time.current %> outside permanent: I SHOULD CHANGE</div>
  <div id="i-am-unique" data-turbo-permanent>
    <dialog id="dialogPerm" data-controller="dialog">
        <button type="button" data-action="dialog#close">close</button>
        <div><%= Time.current %> inside permanent: I SHOULD NOT CHANGE</div>
        <p>Find me in app/views/static/frame_perm.html.erb</p>
    </dialog>
  </div>
<% end %>
