<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<p>Home time: <%= Time.current %></p>

<button type="button" data-controller="debugger" data-action="debugger#triggerMorphRefresh">Refresh with Morph</button>

<br><br><br>
<%= link_to "static/frame_default", "static/frame_default", data: { turbo_frame: :modal } %>
<%= link_to "static/frame_perm", "static/frame_perm", data: { turbo_frame: :modal } %>

<%= turbo_frame_tag :modal %>

